.item{
	width:100px;
	height:100px;
	background-color:blue;
	color:white;
	margin:10px;

	
}

.flex-container{
	display:flex;
	background-color:grey;
	/*justify-content:center;
	align-items:center;*/
	height:400px;
}
.item:nth-child(2){
	align-self:center;
}
.item:nth-child(3){
	justify-content:center;
	align-items:flex-end;
}